DATABASE_URL=postgresql://user:pass@localhost:5432/ev_app
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretkey
PORT=9876
ENTSOE_TOKEN="97d0b853-32c7-41c4-b819-f30869b35682"
ENABLE_PRICING=1
STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_SECRET_KEY_HERE